<div class="text-center">
  <h2>{{title}}</h2>
 
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>

<div class="old-post-form col-md-12" style="display: none" id="old-post-form">
    <h2>Edit Post</h2>
    <form class="form old-article-form">
      <div class="form-group">
        <label for="article-title">Title</label>
        <input class="form-input" type="text" id="article-title" name="article-title" value="{{title}}" />
      </div>
      <div class="form-group">
        <label for="article-content">Content</label>
        <textarea class="form-input" id="article-content" name="article-content">{{content}}</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary form-save" data-id="{{id}}">Save</button>
      </div>
    </form>
  </div>

  <script src="/js/article.js"></script>